{% extends "base.html" %}
{% block content %}
<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                {% for item in score %}

                <!-- LVL 1 Card -->
                <div class="col-xxl-6 col-md-12">
                    <a href="{{ item.difficulty_levels.difficulty_levels_type }}/{{ item.difficulty_levels.id }}">
                        <div class="card info-card sales-card">

                            <div class="card-body">
                                <h5 class="card-title">{{ item.difficulty_levels.difficulty_levels_title }} <br>
                                    <span>Последний раз: {{ item.level_last_date }}</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-dice-{{ loop.index }}"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>Всего: {{ item.level_all }}</h6>
                                        <span class="text-success small pt-1 fw-bold">{{  item.level_rate }}</span>
                                        <span class="text-muted small pt-2 ps-1">успешно</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <!-- End LVL 1 Card -->
                {% endfor %}

            </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">


            <!-- Budget Report -->

            <div class="card">

                <div class="card-body pb-0">
                    <h5 class="card-title">Статистика</h5>

                    <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

                    <script>
                        var params = {{ params | safe }};
                        document.addEventListener("DOMContentLoaded", () => {
                            echarts.init(document.querySelector("#trafficChart")).setOption({
                                tooltip: {
                                    trigger: 'item'
                                },
                                legend: {
                                    top: '5%',
                                    left: 'center'
                                },
                                series: [{
                                    name: 'Всего верных',
                                    type: 'pie',
                                    radius: ['40%', '70%'],
                                    avoidLabelOverlap: false,
                                    label: {
                                        show: false,
                                        position: 'center'
                                    },
                                    emphasis: {
                                        label: {
                                            show: true,
                                            fontSize: '18',
                                            fontWeight: 'bold'
                                        }
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    data: params
                                }]
                            });
                        });
                    </script>

                </div>
            </div><!-- End Website Traffic -->

            <!-- News & Updates Traffic -->
            <!--            <div class="card">-->
            <!--                <div class="filter">-->
            <!--                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
            <!--                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
            <!--                        <li class="dropdown-header text-start">-->
            <!--                            <h6>Filter</h6>-->
            <!--                        </li>-->

            <!--                        <li><a class="dropdown-item" href="#">Today</a></li>-->
            <!--                        <li><a class="dropdown-item" href="#">This Month</a></li>-->
            <!--                        <li><a class="dropdown-item" href="#">This Year</a></li>-->
            <!--                    </ul>-->
            <!--                </div>-->

            <!--                <div class="card-body pb-0">-->
            <!--                    <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>-->

            <!--                    <div class="news">-->
            <!--                        <div class="post-item clearfix">-->
            <!--                            <img src="../static/assets/img/news-1.jpg" alt="">-->
            <!--                            <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>-->
            <!--                            <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>-->
            <!--                        </div>-->

            <!--                        <div class="post-item clearfix">-->
            <!--                            <img src="../static/assets/img/news-2.jpg" alt="">-->
            <!--                            <h4><a href="#">Quidem autem et impedit</a></h4>-->
            <!--                            <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>-->
            <!--                        </div>-->

            <!--                        <div class="post-item clearfix">-->
            <!--                            <img src="../static/assets/img/news-3.jpg" alt="">-->
            <!--                            <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>-->
            <!--                            <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>-->
            <!--                        </div>-->

            <!--                        <div class="post-item clearfix">-->
            <!--                            <img src="../static/assets/img/news-4.jpg" alt="">-->
            <!--                            <h4><a href="#">Laborum corporis quo dara net para</a></h4>-->
            <!--                            <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>-->
            <!--                        </div>-->

            <!--                        <div class="post-item clearfix">-->
            <!--                            <img src="../static/assets/img/news-5.jpg" alt="">-->
            <!--                            <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>-->
            <!--                            <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos-->
            <!--                                eius...</p>-->
            <!--                        </div>-->

            <!--                    </div>&lt;!&ndash; End sidebar recent posts&ndash;&gt;-->

            <!--                </div>-->
            <!--            </div>&lt;!&ndash; End News & Updates &ndash;&gt;-->

        </div><!-- End Right side columns -->

    </div>
</section>
{% endblock %}