<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/dashboard">
                <i class="bi bi-grid"></i>
                <span>Главная</span>
            </a>
        </li>


        <li class="nav-heading">Разделы</li>
       <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Арифметика</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/addition">
                        <i class="bi bi-circle"></i><span>Сложение</span>
                    </a>
                </li>
                <li>
                    <a href="/subtraction">
                        <i class="bi bi-circle"></i><span>Вычетание</span>
                    </a>
                </li>
                <li>
                    <a href="/multiplication">
                        <i class="bi bi-circle"></i><span>Умножение</span>
                    </a>
                </li>
                <li>
                    <a href="/division">
                        <i class="bi bi-circle"></i><span>Деление</span>
                    </a>
                </li>

            </ul>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" href="/complex_arithmetic">
                <i class="bi bi-person"></i>
                <span>Сложная арифметика</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/equations">
                <i class="bi bi-person"></i>
                <span>Уравнения</span>
            </a>
        </li>




    </ul>

</aside>